main{
    position: initial;
    margin-top: 50px;
    margin-left: 240px;
    right: 0;
    min-height: calc(100vh - 50px);
}

.games{
    padding: 40px;
    &-title{
        margin-top: 0px;
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
}