@import '../../../global.scss';

.sidebar{
    position: fixed;
    top: 50px;
    bottom: 0;
    height: 100vh;
    width: 240px;
    background-color: $color-grey;
    &-title{
        font-size: 16px;
        padding: 15px 10px;
        margin: 0;
    }
}